body {
    background: #fff;
    font-family: 'PT Sans', sans-serif;
}

h2 {
    padding-top: 1.5rem;
}

a {
    color: #333;
}

a:hover {
    color: #DA5767;
    text-decoration: none;
}

.card {
    border: 0.40rem solid #F8F9FA;
    top: 10%;
}

.form-control {
    background-color: #F8F9FA;
    padding: 20px;
    padding: 25px 15px;
    margin-bottom: 1.3rem;
}

.form-control:focus {
    color: #000000;
    background-color: #FFFFFF;
    border: 3px solid #DA5767;
    outline: 0;
    box-shadow: none;
}

.btn {
    padding: 0.6rem 1.2rem;
    background: #DA5767;
    border: 2px solid #DA5767;
}

.btn-primary:hover {
    background-color: #DF8C96;
    border-color: #DF8C96;
    transition: .3s;
}